{% extends 'base.html' %}

{%block head_title%}
IndieWritter
{%endblock head_title%}

{%block content%}
<h1>this is the home page</h1>
<div id = 'poems'>
    Loading ...

</div>

<script>
const poemsElement = document.getElementById("poems")


const xhr = new XMLHttpRequest()
const method = 'GET'
const url = "/poems"
const responseType = "json"

xhr.responseType = responseType
xhr.open (method, url)

xhr.onload = function(){
    const serverResponse = xhr.response
    const listedItems = serverResponse.response
    var finalPoemStr = ""
    var i;
    
    for (i =0;  i <listedItems.length; i++){
        var currItem = "<div class='mb-4'><h1> Poem#"+ listedItems[i].id +" </h1>"
        currItem += "<p>" + listedItems[i].content + "</p></div>"
        finalPoemStr += currItem
        console.log(i)
    }

    poemsElement.innerHTML = finalPoemStr
    console.log (listedItems)
}
xhr.send()

</script> 
{% endblock content%}
