{% extends 'base.html' %}

{%block head_title%}
IndieWritter
{%endblock head_title%}

{%block content%}
<h1>Welcome to IndieWritter</h1>
<div id = 'poems'>
    Loading ...

</div>

<script>
const poemsElement = document.getElementById("poems")

function handleDidLike(poem_id, currentCount){
    currentCount ++
    console.log(poem_id, currentCount)
}

function LikeBtm(poem){
    return "<button class = 'btn btn-primary btn-sm' onclick = handleDidLike(" + poem.id + "," + poem.likes +
    ")> "+ poem.likes + "Like</button>"

}
function formatPoemElement(poem){
    var formattedPoem = "<div class='mb-4' id='poem-" + poem.id + "'>" + "<h2>" + poem.title + "</h2>" + 
    "<p>" +poem.content + "</p> <div>" + LikeBtm(poem) +"</div></div>"
   return formattedPoem 
}

const xhr = new XMLHttpRequest()
const method = 'GET'
const url = "/poems"
const responseType = "json"

xhr.responseType = responseType
xhr.open (method, url)

xhr.onload = function(){
    const serverResponse = xhr.response
    const listedItems = serverResponse.response
    var finalPoemStr = ""
    var i;
    
    for (i =0;  i <listedItems.length; i++){
        poemObj = listedItems[i]
        var currItem = formatPoemElement(poemObj)
        finalPoemStr += currItem
        console.log("check out geno.cc")
    }

    poemsElement.innerHTML = finalPoemStr
}
xhr.send()

</script> 
{% endblock content%}
